#college-general {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2000; /* Ensure it appears above the header */
    padding-top: 2vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    text-align: right; /* Aligns all text to the right */
    direction: rtl;
  }
  
  .titles-gray {
    font-size: 3.2em;
    color: rgb(89, 89, 89);
    font-family: "Karantina";
    margin-top: 16vh;
    text-align: right; /* Aligns this title to the right */
    max-width: 90vw; /* Prevents text from stretching across the full width */
    padding-left: 5vw; /* Adds padding to the left */
    padding-right: 5vw; /* Adds padding to the right */
  }
  
  .simple-text, .blue-text, .grey-bold {
    font-family: "Heebo";
    text-align: right; /* Aligns these texts to the right */
    max-width: 90vw; /* Prevents text from stretching across the full width */
    padding-left: 5vw; /* Adds padding to the left */
    padding-right: 5vw; /* Adds padding to the right */
  }
  
  .simple-text {
    font-size: 1em;
    color: rgb(89, 89, 89);
  }
  
  .blue-text {
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(28, 180, 227);
  }
  
  .grey-bold {
    font-size: 1.3em;
    color: rgb(89, 89, 89);
    font-weight: 900;
  }
  
  #next-btn {
    position: absolute;
    z-index: 5;
    left: 40%;
    height: 8vh;
  }
  
  .image-content, .gif-content {
    width: 100%;
    height: auto;
  }
  
  #video {
    width: 100vw;
    height: auto;
  }
  
  #important-text {
    text-align: center;
    font-size: 1em;
    max-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .footer{
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}

