/* ====================== בסיסי (טלפון) ====================== */
.Digital {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  aliceblue;
  z-index: 2000;
  padding-top: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: right;
  direction: rtl;
}

.titles-gray-digital {
  font-size: 3em;
  color: rgb(89, 89, 89);
  font-family: "Karantina", Arial;
  margin-top: 16vh;
  text-align: right;
  max-width: 90vw;
  padding: 0 5vw;
}

.simple-text-digital,
.blue-text-digital,
.grey-bold-digital,
.green-text-digital,
.orange-text-digital {
  font-family: "Assistant", Arial;
  text-align: right;
  max-width: 90vw;
  padding: 0 5vw;
}

.simple-text-digital {
  font-size: 1em;
  color: rgb(89, 89, 89);
}

.blue-text-digital {
  font-size: 1.2em;
  font-weight: 900;
  color: rgb(28, 180, 227);
}

.grey-bold-digital {
  font-size: 1.3em;
  color: rgb(89, 89, 89);
  font-weight: 900;
}

.green-text-digital,
.orange-text-digital {
  font-size: 1.4em;
  text-align: center;
  font-weight: 900;
  margin-top: 20%;
  margin-bottom: 2vh;
}

.green-text-digital {
  color: rgb(59, 180, 140);
}

.orange-text-digital {
  color: rgb(255, 140, 0);
}

#next-btn-digital {
  position: absolute;
  z-index: 5;
  left: 40%;
  height: 8vh;
}

.image-content-digital,
.gif-content-digital {
  width: 100%;
  height: auto;
  margin: 2vh 0;
}

.image-content-neve,
.image-content-neve-digital {
  width: 100%;
  height: auto;
  margin: 20% 0 2vh 0;
}


#important-text-digital {
  text-align: center;
  font-size: 1em;
  max-width: 90vw;
  margin: 2vh auto;
}

.footer-digital {
  position: relative;
  text-align: center;
  width: 90vw;
  height: auto;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.1em;
  margin: 17vh auto 5vh auto;
}
#link-digital {
    background: linear-gradient(135deg, #1ca3d8, #5dc1ff);
  border-radius: 50px;
  font-size: 1.5em;
  font-family: "Assistant", Arial;
  font-weight: 900;
  text-align: center;
  color: white;
  width: 35vw;
  padding: 5% 20%;
  transform: translateX(50%);
  position: absolute;
  right: 50%;
  margin-top: 8vh;
  transition: all 0.3s ease; /* מוסיף אנימציה ל-hover */
}
#link-digital:hover {
    background: linear-gradient(135deg, #1ca3d8, #107dc2);
  transform: translateX(50%) scale(1.05); /* מעט הגדלה */
  cursor: pointer;
}

.brand,
.brand-digital {
  height: auto;
  width: 15vw;
}


.brands-digital {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2vh;
}
.grey-big-center-digital {
  font-size: 2em;
  margin-bottom: 2vh;
  text-align: center;
  font-family: "Assistant", Arial;
  color: rgb(89, 89, 89);
  margin-top: 36%;
  font-weight: 900;
  max-width: 90vw;
  padding: 0 5vw;
}

/* ====================== טאבלט ====================== */
@media screen and (min-width: 768px) {
   .Digital {
        position: relative;
        width: 100vw;
          overflow-y: scroll; 
  overflow-x: hidden;
     scrollbar-width: none;
    -ms-overflow-style: none; 
  }
 .Digital ::-webkit-scrollbar{
     display: none; 
 }



  .titles-gray-digital {
    font-size: 9vmin;
    margin-top: 10vh;
    text-align: center;
  }

  .simple-text-digital,
  .blue-text-digital,
  .grey-bold-digital,
  .green-text-digital,
  .orange-text-digital,
  .grey-big-center-digital {
  font-size: 3vmin;
        position: relative;
        line-height: 1.5;
        width: 60vw;
        right: 14vw;
        padding-right: 5vw;
        padding-left: 5vw;
        text-align: right;
  }

  #important-text-digital {
     font-size: 3vmin;
        line-height: 1.5;
        width: 60vw;
        /* padding-right: 5vw; */
        /* padding-left: 5vw; */
        text-align: center;
       right: 0vw;
  }

  #video-digital,
  .image-content-digital,
  .gif-content-digital {
         width: 27vw;
        POSITION: relative;
        height: auto;
        right: 37VW;
  
  }


  .green-text-digital{
    margin-top: 8%; 
  }

  .orange-text-digital{
    margin-top: 8%;
  }
    .grey-big-center-digital {
             font-size: 7vmin;
        font-family: "Karantina";
        margin-top: 13%;
        text-align: center;

    }
  .image-content-neve,
.image-content-neve-digital {
 width: 43%;
        margin-top: 2%;
        height: auto;
        position: relative;
        right: 27vw;
}


  .footer-digital {
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 10vh;
  }
#link-digital{
  width: 8vw; /* הצרת הכפתור */
    font-size: 3vmin;
    font-family: "Assistant", Arial;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    margin-top: 7vh;
    padding: 2vh 8vw;
    border-radius: 30px; 
    white-space: nowrap; 
    background: linear-gradient(135deg, #1ca3d8, #5dc1ff);
    transition: background 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
#link-digital:hover{
    background: linear-gradient(105deg, #1ca3d8, #004977);
}

  .brand,
.brand-digital {
  height: auto;
  width:9vw;
}
.brand-digital:hover{
  transform:scale(1.2);
}

.brands-digital {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        flex-wrap: wrap;
        width: 98%;
        margin-top: 2vh;
}
}







.fade-in-digital{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-digital.visible {
  opacity: 1;
  transform: translateY(0);
}


