.hamburger-icon {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    top: 3%;
    left: 5%;
    height: 30px;
  }
  
  .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* מצבים לקווים כשהם פתוחים (מראים איקס) */
  .hamburger-line.open:nth-child(1) {
    background-color: white;

    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-line.open:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-line.open:nth-child(3) {
    background-color: white;

    transform: rotate(-45deg) translate(11px, -7px);
  }
  