

  #page {
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 58vh;
    right: 50%;
    transform: translateX(50%);
    z-index: 10000;
    font-family: "Heebo";
    direction: rtl;
  }
  
/* סגנון ברירת המחדל של הכפתור */
.btn-class {
    font-size: 1.5em;
    margin-top: 2vh;
    width: 80vw;
    height: auto;
    text-align: center;
    padding: 3vh 0;
    background-color: rgb(23, 90, 133); /* צבע הרקע המקורי */
    color: white; /* צבע הטקסט */
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 2vh;
    font-family: "Heebo";
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* סגנון הכפתור במצב "נלחץ" */
.btn-class.active {
    background-color: gray; /* צבע רקע אפור כשהכפתור נלחץ */
    color: #fff;
    opacity: 0.7;
}

/* סגנון הכפתור בריחוף */
.btn-class:hover {
    background-color: #45a049;
}
  
  #main-title {
    position: absolute;
    color: rgb(89, 89, 89);
    font-size: 5em;
    top: 5vh;
    transform: translateX(50%);
    right: 50%;
    width: 100%;
    text-align: center;
    font-family: "Karantina";
  }
  
  #intro, #intro1 {
    position: absolute;
    width: 70vw;
    left: 50%;
    top: 30vh;
    transform: translateX(-50%);
    font-family: "Heebo";
    font-size: 1.2em;
    direction: rtl;
    font-weight: 700;
    color: rgb(89, 89, 89);
    margin: 0;
  }
  
  #intro {
    font-family: "Heebo";
    font-weight: 900;

    margin-top: 20%;
  }

  .margin-class {
    position: absolute;
    color: transparent;
    margin-top: 162vmax;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .survey {
    width: 71vw;
    position: absolute;
    margin-top: 94vmax;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Heebo';
    font-size: 1.3em;
    color: rgb(23, 90, 133);
  }
  
  #link {
    color: rgb(23, 90, 133);
    text-decoration: underline;
  }
/* צבע אפור לכפתורים שנלחצו */
