#quiz {
  position: absolute;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

.question-number {
  font-size: 4em;
  text-align: center;
  font-family: "karantina";
  color:rgb(89,89,89)
}

.question {
  font-size: 1.2em;
  margin-top: 14vh;
  color: rgb(89, 89, 89);
  text-align: center;
  font-family: "Heebo";
}


.progress-bar-container {
  width: 90%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
  position: fixed;
  right:50%;
  transform: translateX(50%);
 
}

.progress-bar {
  height: 100%;
  background-color: rgb(28, 180, 227);;
  border-radius: 5px;
  transition: width 0.3s;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.answer-button {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  font-family: "Heebo";
  border: 1px solid #ddd;
  border-radius: 50px;
  width: 80vw;
  margin: 10px auto; /* מרכז את הכפתור */
  cursor: pointer;
  transition: background-color 0.3s;
}


.answer-button.selected {
  background-color: rgb(28, 180, 227);
  color: white;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 2vh auto 0 auto;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
}


.button-disabled {

  background-color: rgb(102, 102, 102);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Heebo";
  opacity: 0.3;

}

.results {
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  top:20vh;
  right:50%;
  transform:translateX(50%);
  direction: rtl;
}

.prev-button{
  background-color: rgb(255, 140, 0);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Heebo";
  
}

.next-button{
  background-color:rgb(28, 180, 227);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Heebo";
}

.end-btn{
  background-color: rgb(33, 173, 216);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Heebo";
  margin-top: 2vh;
  width: 60vw;
  margin-bottom:auto ;
}

.score{
  font-family: "Karantina";
  font-size: 3em;
  color:rgb(89,89,89);



}

.message{
  font-family: "Heebo";
  font-size: 1.2em;

}

.share-btn{
  background-color: rgb(33, 173, 216);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Heebo";
  margin-top: 2vh;
  width: 76vw;
  margin-bottom: auto;

}


.try-button{
  background-color: rgb(255, 140, 0);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  margin-top: 5vh;
  font-family: "Heebo";
}