.Society {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2000; /* Ensure it appears above the header */
    padding-top: 2vh;
    overflow-y: scroll;
    text-align: right; /* Aligns all text to the right */
    direction: rtl;
}

#next-btn-soc {
position: absolute;
z-index: 5;
margin-top: 3vh;
left: 40%;
height: 8vh;
width: auto;
}

.blue-text-soc {
font-size: 1.4em;
margin-bottom: 2vh;
direction: rtl;
text-align: right;
font-family: "Assistant" ,Arial;
font-weight:900;
color:rgb(28, 180, 227);
width: 95vw;
padding-left: 5vw;
padding-right: 5vw;
}

.titles-gray-soc {
    font-size: 2.8em;
    margin-top: 14vh;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "karantina";
    color: rgb(89, 89, 89);
    text-align: right;
    padding-left: 5vw;
    padding-right: 5vw;
}

.simple-text-soc {
width: 100%;
height: auto;
margin-bottom: 2vh;
font-family: "Assistant" ,Arial;
font-size: 1.2em;
text-align: right;
padding-left: 5vw;
padding-right: 5vw;
max-width: 92vw;
color: rgb(89,89,89);
}

.image-content-soc {
width: 100%;
height: auto;
margin-bottom: 2vh;
}

.grey-bold-soc{
font-size: 1.2em;
margin-bottom: 2vh;
direction: rtl;
text-align: center;
font-family: "Assistant" ,Arial;
color: rgb(89,89,89);
font-weight: 900;
max-width: 92vw;
padding-left: 5vw; 
padding-right: 5vw; 
}

.footer-soc {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 13vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}


@media screen and (min-width: 768px) {
    .Society {
    position: relative;
    top: 0;
    left: 13%;
    width: 70vw;
    height: 100%;
    background-color: #ffffff;
    z-index: 2000; /* Ensure it appears above the header */
    padding-top: 2vh;
    overflow-y: scroll;
    text-align: right;
     scrollbar-width: none;
    -ms-overflow-style: none; 
    direction: rtl;
}
.Society::-webkit-scrollbar  {
      display: none; 
}

#next-btn-soc {
position: absolute;
z-index: 5;
margin-top: 3vh;
left: 45%;
height: 12vh;
width: auto;
cursor: pointer;
}
#next-btn-soc:hover {
transform: scale(1.2);
}

.blue-text-soc {
font-size: 3vmin;
margin-bottom: 2vh;
direction: rtl;
text-align: center;
left:25%;
position: relative;



}

.titles-gray-soc {
    font-size:9vmin;
    margin-top: 14vh;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "karantina";
    color: rgb(89, 89, 89);
    text-align: center;
}

.simple-text-soc, .grey-bold-soc {
width: 80%;
height: auto;
right:5%;
margin-bottom: 2vh;
font-size: 3vmin;
text-align: center;
max-width: 92vw;
color: rgb(89,89,89);
}

.image-content-soc {
position: relative;
width: 60%;
height: auto;
right: 15vw;
margin-bottom: 2vh;
}

.footer-soc {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 13vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}
}
@media screen and (min-width: 1200px) {
        .Society {
    position: relative;
    top: 0;
    left: 13%;
    width: 70vw;
    height: 100%;
    background-color: #ffffff;
    z-index: 2000; /* Ensure it appears above the header */
    padding-top: 2vh;
    overflow-y: scroll;
    text-align: right;
     scrollbar-width: none;
    -ms-overflow-style: none; 
    direction: rtl;
}
.Society::-webkit-scrollbar  {
      display: none; 
}

#next-btn-soc {
position: absolute;
z-index: 5;
margin-top: 3vh;
left: 45%;
height: 12vh;
width: auto;
cursor: pointer;
}
#next-btn-soc:hover {
transform: scale(1.2);
}

.blue-text-soc {
font-size: 3vmin;
margin-bottom: 2vh;
direction: rtl;
text-align: center;
left:25%;
position: relative;



}

.titles-gray-soc {
    font-size:9vmin;
    margin-top: 14vh;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "karantina";
    color: rgb(89, 89, 89);
    text-align: center;
}

.simple-text-soc, .grey-bold-soc {
width: 80%;
height: auto;
right:5%;
margin-bottom: 2vh;
font-size: 3vmin;
text-align: center;
max-width: 92vw;
color: rgb(89,89,89);
}

.image-content-soc {
position: relative;
width: 60%;
height: auto;
right: 15vw;
margin-bottom: 2vh;
}

.footer-soc {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 13vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}
}



.fade-in-society{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-society.visible {
  opacity: 1;
  transform: translateY(0);
}


