#war {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2000; /* Ensure it appears above the header */
    padding-top: 2vh;
    overflow-y: scroll;
    text-align: right; /* Aligns all text to the right */
    direction: rtl;
}

.simple-text-war {
    font-family: "Heebo";
    text-align: right; /* Aligns these texts to the right */
    max-width: 90vw; /* Prevents text from stretching across the full width */
    padding-left: 5vw; /* Adds padding to the left */
    padding-right: 5vw; /* Adds padding to the right */
}

.simple-text-war {
    font-size: 1em;
    color: rgb(89, 89, 89);
}

.titles-red {
    font-size: 3.5em;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "karantina";
    color: #e06666;
    padding-left: 5vw; /* Adds padding to the left */
    padding-right: 5vw; /* Adds padding to the right */
}

.red-text {
    font-size: 1.2em;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "Heebo";
    font-weight: 900;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #e06666;
    max-width: 90vw;
}

.red-bold {
    font-size: 1.4em;
    margin-bottom: 2vh;
    max-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: right;
    font-family: "Heebo";
    font-weight: 900;
    color: #e06666;
}

.footer-war {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}

.image-discription {
    text-align: center;
    background-color: rgb(214, 214, 214);
    margin-top: 0.5em; /* Adds space between image and description */
    padding: 0.5em; /* Adds padding to the description */
}

.image-content {
    display: block;
    margin: 0 auto; /* Centers the image */
    max-width: 90%; /* Keeps the image responsive */
}
