.War{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  aliceblue;
  z-index: 2000;
  padding-top: 2vh;
  overflow-y: scroll; 
  overflow-x: hidden;
  text-align: right;
  direction: rtl;
}

.simple-text-war {
    font-family: "Assistant";
    text-align: right; 
    max-width: 90vw; 
    padding-left: 5vw;
    padding-right: 5vw;
     font-size: 1em;
    color: rgb(89, 89, 89);
}


.titles-red {
    font-size: 3.5em;
    margin-bottom: 6vh;
    direction: rtl;
    text-align: right;
    font-family: "karantina";
    color: #e06666;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 13vh;
}

.red-text {
    font-size: 1.2em;
    margin-bottom: 2vh;
    direction: rtl;
    text-align: right;
    font-family: "Assistant";
    font-weight: 900;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #e06666;
    max-width: 90vw;
}

.red-bold {
    font-size: 1.4em;
    margin-bottom: 2vh;
    max-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: right;
    font-family: "Assistant";
    font-weight: 900;
    color: #e06666;
}

.footer-war {
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: transparent;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}

.image-discription {
    text-align: center;
    background-color: rgb(214, 214, 214);
    margin-top: 0.5em; 
    padding: 0.5em; 
}

.image-content {
    display: block;
    margin: 0 auto; 
    max-width: 90%; 
}



@media screen and (min-width: 768px) {
 .War {
        position: relative;
        width: 100vw;
          overflow-y: scroll; 
  overflow-x: hidden;
     scrollbar-width: none;
    -ms-overflow-style: none; 
  }
 .War ::-webkit-scrollbar{
     display: none; 
 }



   .titles-red {
    font-size: 9vmin;
    margin-bottom: 6vh;
    direction: rtl;
    text-align: center;
    font-family: "karantina";
    color: #e06666;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 13vh;
}

  .titles-gray {
    font-size: 9vmin;
    margin-top: 10vh;
    text-align: center;
  }

  .simple-text-war, .red-text, .red-bold  {
    font-size: 3vmin;
        position: relative;
        line-height: 1.5;
        width: 60vw;
        right: 14vw;
        padding-right: 5vw;
        padding-left: 5vw;
        text-align: right;

  }
  .War #important-text {
  font-size: 3vmin;
        line-height: 1.5;
        width: 60vw;
        /* padding-right: 5vw; */
        /* padding-left: 5vw; */
        text-align: center;
       right: 0vw;
}
.image-discription {
        position: relative;
        text-align: center;
        background-color: rgb(214, 214, 214);
        margin-top: 0.5em;
        font-size: 2vmin;
        width: 39vw;
        right: 30%;
}


  #video, .image-content, .gif-content {
    width: 40vw;   /* לא מתוחים על כל המסך אלא לפי הקונטיינר */
    height: auto;
    display: block;
    margin: 3vh auto;
    right:50%;
  }

  .War .footer {
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 10vh;
  }

  .War #next-btn {
    position: absolute;
    z-index: 5;
    left: 45%;
    height: 8vh;
    width: auto;
}
  .War #next-btn:hover {
    cursor: pointer;
}


}




.fade-in-war {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-war.visible {
  opacity: 1;
  transform: translateY(0);
}
